/*noinspection ALL*/
#screen {
  viewport-fill: #e6e6e6;
}

/*noinspection ALL*/
#TPane{
  x: 0%;
  y: 0%;
  width: 100%;
  height: 10%;
  fill: #ba3f28;
}

/*noinspection ALL*/
#TPaneText {
  font-size: 16;
  text-anchor: middle;
  x: 50%;
  y: 7%;
  fill: #fcc7b3;
}

/*noinspection ALL*/
#TPanePost{
  x: 0%;
  y: 10%;
  width: 100%;
  height: 6%+2;
  fill: #f3f2f1;
}

/*noinspection ALL*/
#TPanePostItems{
  x: 8%+1;
  y: 14%+1;
}

/*noinspection ALL*/
.TPanePostText{
  font-size: 16;
  text-anchor: start;
  fill: #4d4b49;
  y: 0%;
}

/*noinspection ALL*/
#LeftPane{
  x: 4%;
  y: 18%;
  width: 25%;
  height: 25%;
}

/*noinspection ALL*/
.LeftPaneText{
  font-size: 16;
  text-anchor: start;
  fill: #ba3f28;
}

/*noinspection ALL*/
.LeftPaneTextBlack{
  font-size: 16;
  text-anchor: start;
  fill: black;
}

/*noinspection ALL*/
.rectWhite {
  fill: white;
  width: 80%-4;
  height: 50%-4;
}

/*noinspection ALL*/
.rectGrey{
  fill: #c9c9c9;
  width: 80%;
  height: 50%;
}

/*noinspection ALL*/
.rectPowerpoint{
  fill: #ba3f28;
  width: 80%;
  height: 50%;
}

/*noinspection ALL*/
.displayText {
  font-family: System-Bold;
  text-length: 32;
}

/*noinspection ALL*/
#CPane{
  x: 32%;
  y: 21%;
  width: 68%;
  height: 79%;
}

/*noinspection ALL*/
#CPaneMain{
  width: 94%-4;
  height: 67%-4;
  x: 0%+2;
  y: 0%+2;
}

/*noinspection ALL*/
#rectCPaneMain{
  fill: white;
  width: 94%-4;
  height: 67%-4;
  x: 0%+2;
  y: 0%+2;
}

/*noinspection ALL*/
#rectCPaneBackground{
  fill: #c9c9c9;
  width: 94%;
  height: 67%;
  x: 0%;
  y: 0%;
}

/*noinspection ALL*/
#datetimePage{
  y: 58%;
  x: 50%;
}

/*noinspection ALL*/
#timeText{
  font-size: 46;
  text-anchor: middle;
  fill: black;
  y: -8%;
}

/*noinspection ALL*/
#dateText{
  font-size: 26;
  text-anchor: middle;
  fill: black;
  y: 8%;
}

.zeroOpacity{
  visibility: hidden;
}

/*noinspection ALL*/
.titlePage{
  y: 18%;
  x: 6%;
}

/*noinspection ALL*/
#titleText{
  font-size: 24;
  text-anchor: middle;
  fill: black;
  y: 0%;
}

/*noinspection ALL*/
.statText{
  font-size: 20;
  text-anchor: start;
  fill: black;
  y: 20%;
}